html { font-family: monospace; }
table { border-collapse: collapse; }
.center { height: 100%; width: 100%; display: flex; position: fixed; align-items: center; justify-content: center; }

body { background:#1c1619; color:#694a5b; }
a { color: #61394f }
a:visited { color: #402634 }

pre {
	position: fixed;
	inset: 0;
}
